<input ng-keypress="index.enterLink($event, filtered)" 
       ng-model="inputTitle" type="text" placeholder="Title" />
<ul>
  <li>
    Order by:
    <a href ng-click="index.setOrder('title')" 
            ng-class="{active:index.isOrderedBy('title'), reverse:index.reverse}">Title</a>
    <a href ng-click="index.setOrder('updated_at')" 
            ng-class="{active:index.isOrderedBy('updated_at'), reverse:index.reverse}">Date</a>
  </li>
  <li ng-repeat="quiz in filtered = (index.quizzes | filter:{title: inputTitle}
                                     | orderBy:index.orderField:index.reverse)">
    <a ng-click="" href="#/quizzes/{{quiz.id}}">
      {{quiz.title}}
      <time datetime="{{quiz.updated_at}}">
        <span>{{quiz.updated_at | date:'dd MMM'}}</span>
        <span>{{quiz.updated_at | date:'yyyy'}}</span>
      </time>
    </a>
  </li>
</ul>
<div ng-class="{invisible:index.lastPage}">
    <a href ng-click="index.moreQuizzes(index.pageNum)">More</a>
</div>