<h1>{{quiz.selected}}</h1>
<ul>
  <li>
    <p ng-hide="quiz.isFull()">{{classroom.turnout}} students out of {{classroom.size}}</p>
  </li> 
  <li ng-repeat="question in quiz.items">
    <fieldset>
      <legend>{{question.title}}</legend>
      <label ng-repeat="option in question.options">
        <input name="{{option}}" type="radio" />{{option}}<br/>
      </label>
    </fieldset>
  </li>
</ul>
<div ng-if="authenticated">
    <a href ng-hide="quiz.isOpen()" ng-click="quiz.openQuestion()">{{quiz.statusText}}</a>
    <a href ng-hide="quiz.end" ng-click="quiz.nextQuestion()">Next</a>
</div>