<h1>{{quiz.selected}}</h1>
<ul>
  <li ng-repeat="question in quiz.items">
    <form name="questionForm" ng-submit="quiz.submitAnswer(question, quiz.answer)" novalidate>
      <fieldset>
        <legend>{{question.title}}</legend>
        <label ng-repeat="option in question.options">
          <input  ng-model="quiz.answer" type="radio" name="options" value="{{option[0]}}"
                  ng-checked="quiz.isAnswer(question, option[0])" 
                  ng-disabled="authenticated" required />{{option[1]}}<br/>
        </label>
      </fieldset>
      <input ng-hide="authenticated || submitted" 
             ng-click="submitted = true" 
             ng-disabled="questionForm.$invalid"
             type="submit"
             value="Submit" />
    </form>
  </li>
</ul>
<p ng-hide="quiz.isFull()">{{classroom.turnout}} students out of {{classroom.size}}</p>
<div ng-show="authenticated && quiz.isFull()">
    <a href ng-hide="quiz.isOpen()" ng-click="quiz.openQuestion()">{{quiz.statusText}}</a>
    <a href ng-hide="quiz.end" ng-click="quiz.nextQuestion()">Next</a>
    <p ng-show="quiz.statusText === 'Opened'">{{answer.right}} right answers and {{answer.wrong}} wrong answers</p>
</div>