<!DOCTYPE html>
<html ng-app="quizzer">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Quizzer</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
  <ul class="menu">
    <li><a ng-if="checkedin" href="#/quizzes">List</a></li>
    <li><a ng-if="authenticated" href="#/quizzes/new">New</a></li>
    <li><a ng-if="checkedin" ng-click="quit()" href="#/checkin">Quit</a></li>
  </ul>

  <section ng-view></section>
</body>
</html>
